<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="login">
                <div class="account-login">
                    <h1>Account Login</h1>
                    <form action="" class="login-form">
                        <div class="form-group">
                            <input type="text" placeholder="User Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="remember">
                            <label class="custom-checkbox">
                                Remember me
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>

                        </div>

                        <button class="btn">Login</button>
                        <p>Are you new?<a href="#">Sign Up</a><a href="#" class="pull-right">Forgot Password?</a></p>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
